<style>
    body, html {
        background-color: transparent;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 1px;
        /*text-align: left;*/
    }
</style>
